[mysqld]
############################
# host_cache 设置（取代废弃的 skip-host-cache）
############################
host_cache_size = 0

############################
# 解决 Linux 目录大小写问题（Nacos 强烈推荐）
############################
# 0 = 区分大小写
# 1 = 不区分大小写（表名转换为小写存储）
# 2 = 不区分大小写但仅在初始化表时转换（跨平台更好）
lower_case_table_names = 2

############################
# 字符集（必须为 Nacos + Spring Boot 设置）
############################
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

############################
# 兼容性（防止 JDBC 报错）
############################
default-authentication-plugin=caching_sha2_password


############################
# 网络
############################
max_connections = 2000
max_connect_errors = 1000
skip-name-resolve
bind-address=0.0.0.0

###########################
# 缓冲区（提升 Nacos 配置中心写入性能）
############################
innodb_buffer_pool_size = 512M
innodb_log_buffer_size = 64M
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4
